*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #F6DEFF;
}
.container{
position: relative;
width: 100%;
}
.container nav{
    display: flex;
    justify-content: space-between;
}
.buttondiv{
    display: flex;
    justify-items: center;
}
.buttondiv i{
    width: 217px;
    height: 83px;
    margin-right: 20px;
}
.info{
    display: grid;
    width: 100%;
    height: 353px;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto ;
    padding: 10px 35px;
}
.info-img{
    position: relative;
}
.info-imgframe{
    position: absolute;
    left: 80px;
    bottom: 35px;
    background: transparent;
}
.info-image{
    position: absolute;
    left: 100px;
    bottom: 39px;
    height: 184px;
    width: 144px;
}
.info-img p{
    position: absolute;
    left: 96px;
    bottom: 10px; 
    position: absolute;
   height: 31px;

font-family: 'Pirata One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;
background: #E0C667;
text-align: center;
/* identical to box height */

padding: 0 20px;

color: #000000;
}
