*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}
body{
    background-color: #defafa;
}
.logo{
    
    position: absolute;
    width: 266px;
    height: 116.51px;
    left: 29px;
    top: 13px;
}
.container{
    background-color: #defafa;
    height: 100%;
}
.details{   
width: 70%;
border-radius: 29px;

    background-color: #3DB2D3;
    margin: 0 auto;
    margin-top: -105px;
    border-radius: 29px;
    box-shadow: inset 6px 6px 60px 0 black, inset -6px -6px 50px 0 black;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
}
#typesimage{
    padding-top: 47px;
    position: relative;
    left: 37.84%;
   right: 37.84%;
   z-index: 1;
   width: 250px;
   
}
.left img{
   
    height: 337px;
    width: 276px;
   margin-top: 78px;
    border-radius: 21px;
    margin-right: 87px;
    
}
h2{
margin-top: 53px;
margin-left: 20%;
font-family: 'Pirata One';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 82px;
padding-top: 22px;

color: #DCDCDC;
}
.right{
    margin-left: 95px;
}
table{
   border-spacing:  29px;
}
.tdtitle{
    padding-right: 90px;
}
td {
    font-family: 'Pirata One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.05em;
    color: #DCDCDC;
    
}




/* media  1140*/

@media only screen and (max-width: 1140px){

    #typesimage{
        z-index: 1;
        width: 74px;
        position: absolute; 
        left: 40.32%;
       right: 36.19%;
       top: 0%;
       bottom: 87.02%;
        
    }
    .left img{
        position: absolute;
        height: 130px;
        width: 104px;
        border-radius: 21px;
        height: 130px;
left: 100px;
top: 50px;
margin: 0;



    }
    .details{   
        width: 315px;
        border-radius: 29px;
        margin-top: 100px;
    }
    h2{
        padding-top: 150px;
        font-family: 'Pirata One';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 46px;
        }

        .right{
            margin-left: 52px;
        }

        td{
            font-family: 'Pirata One';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */

letter-spacing: 0.05em;

color: #DCDCDC;
        }
        table{
            border-spacing:  15px;
         }
         .tdtitle{
            padding-right: 50px;
        }
        .logo{
            width: 138.66px;
height: 45px;
left: 16px;
top: 5px;
        }

}