*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #F6DEFF;
}
.container{
position: relative;

}
.container nav img{
    flex-basis: 45%;
    margin-left: 38px;
    width: 100%;
    background: transparent;


}
.container nav{
    display: flex;
    justify-content: space-between;
}
.buttondiv{
    display: flex;
    justify-items: center;
    flex-basis: 30%;
    
}
.buttondiv a{
    width: 190px;
    background: transparent;
    margin-right: 90px;
    height: 100%;
}
.info{
    display: grid;
    width: 100%;
    height: 353px;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto ;
    padding: 10px 0px;
    align-items: center;
}
.info-img{
    position: relative;
    width: 362px;
    height: 353px;
    margin-bottom: 45px;
}
.info-imgframe{
    position: absolute;
    left: 80px;
    bottom: 35px;
    background: transparent;
}
.info-image{
    position: absolute;
    left: 100px;
    bottom: 39px;
    height: 184px;
    width: 144px;
}
.info-img p{
    position: absolute;
    left: 80px;
    bottom: 10px; 
    position: absolute;
   height: 31px;
   width: 190px;
font-family: 'Pirata One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;
background: #E0C667;
text-align: center;
padding: 0 20px;
color: #000000;
}




/* media  1140*/

@media only screen and (max-width: 1140px){
    .info{
        grid-template-columns: auto auto ;
    }
    .buttondiv a{
        width: 100px;
        background: transparent;
        margin-right: 90px;
    }
    .buttondiv{
        flex-basis: 50%;
        
    }
}


/*  media 600 */
@media only screen and (max-width: 600px){
    .info{
        grid-template-columns: auto ;
    }
}